html, body {
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    align-items: center;
}

#map {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    border-radius: 10px;
}

.results_img {
    width: 40%;
}

.details {
    display: flex;
    flex-direction: column;
    width: 56%;
    margin-left: 4%;
}

.results_img img {
    width: 100%;
    height: 200px;
}

.result_title {
    font: 30px bolder;
    margin-bottom: 15px;
}


.results_list {
    width: 100%;

}

.results_item {
    display: flex;
    justify-content: flex-start;
    width: 96%;
    border-radius: 10px;
    background-color: #f8f8f9;
    padding: 2%;
    margin: 10px 0;
}

.results_item:hover {
    background-color: rgb(224, 217, 217);

}


.details div {
    margin: 10px 0px;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 375px) {
    .result_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;
        margin: 0 1%;
        align-items: center;
    }

    #map {
        height: 200px;
    }
}
